@model terceirizados_novo.Models.Servico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Servico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orcamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orcamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorEstimadoServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorEstimadoServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAprovacaoOrcamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAprovacaoOrcamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConclusaoDoServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConclusaoDoServico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
